/* #region RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    position: relative;
    background-color: #dbdbd3;
}
/* #endregion RESET */

/* #region GENERAL */
img{
    max-width: 100%;
}
header{
    height: 20vh;
    background-color: #009688;
}
main{
    height: 80vh;
    background-color: #dbdbd3;
}
.anchor{
    position: relative;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.jst-btwn{
    justify-content: space-between;
}
.jst-cntr{
    justify-content: center;
}
.algn-cntr{
    align-items: center;
}
.app-container{
    background-color: white;
    width: 80vw;
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}
.col-30{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: greenyellow;
    border-right: 1px solid grey;
}
.col-70{
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
}
i{
    color: #afafb6;
    font-size: 30px;
    margin-right: 30px;
}
.grow{
    flex-grow: 1;
}
.flex-col{
    flex-direction: column;
}
.w-10{
    width: 10%;
    text-align: center;
}
.h-75{
    height: 75%;
}
.fw-bold{
    font-weight: bold;
}
/* #endregion GENERAL */

/* #region COL-30 */
.user-menu i{
    color: #b1b1b1;
}
.notification{
    height: 10%;
    background-color: #8edafc;
    padding-left: 20px;
}
.notification .item-container{
    background-color: white;
    max-width: 75px;
    max-height: 75px;
    padding: 15px;
    border-radius: 50%;
}
.notification i{
    color: #8edafc;
    margin: 0;
}
.notification .notification-container{
    padding-left: 10px;
}
.notification .notification-container div{
    font-size: 17px;
}
.notification .notification-container *{
    margin-bottom: 5px;
}
.notification .notification-container a{
    color: grey;
    margin-top: 10px;
}
.user-search{
    height: 7%;
    background-color: #fafafa;
    padding: 10px 0;
}
.user-search i{
    font-size: 20px;
    width: 15%;
    text-align: center;
    margin: 0;
}
.user-search .search-bar{
    background-color: white;
    width: 95%;
    height: 100%;
    border: 1px solid #f5f5f5;
}
.search-bar input{
    height: 100%;
    width: 85%;
    border: 1px solid #f5f5f5;
    font-size: 15px;
    padding-left: 10px;
}
.contacts{
    height: 70%;
    background-color: white;
    overflow-y: auto;
}
/* #endregion COL-30 */

/* #region COL-70 */
.active-user,
.user{
    height: 10%;
    background-color: #eaeaea;
}
.text-user-input{
    height: 10%;
    background-color: #f3eeea;
}
.active-chat{
    height: 80%;
    overflow-y: auto;
}
.col-70 .active-chat{
    background-image: url(/img/mine.jpg);
}
.text-user-input input{
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
}
.text-user-input i{
    color: #6b7376;
    margin: 0;
}
/* #endregion COL-70 */

/* #region USER-CARD */
.user-card{
    height: 100%;
    padding-left: 10px;
}
.user-card img{
    border-radius: 50%;
    height: 85%;
}
.user-info{
    margin-left: 20px;
}
.user-card .time-access {
    margin-top: 10px;
    color: grey;
}
.contacts .user-card{
    max-height: 10%;
    background-color: white;
    padding-left: 20px;
    border-top: 1px solid lightgray;
}
.access-info{
    position: absolute;
    right: 10px;
    top: 10px;
    color: grey;
}
.contacts .selected{
    background-color: #e9ebeb;
}
/* #endregion USER-CARD */

/* #region ACTIVE-CHAT */
.active-chat{
    padding: 5% 10%;
}
.user-text{
    display: flex;
    justify-content: end;
    align-items: center;
}
.chat-bubble{
    width: 20%;
    padding: 15px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.chat-bubble-user{
    background-color: #d5f9ba;
}
.answer-text{
    background-color: white;
}
.send-time{
    position: absolute;
    right: 5px;
    bottom: 3px;
    color: grey;
    font-size: smaller;
}
/* #endregion ACTIVE-CHAT */




/* #region MEDIA-QUERY */
@media screen and (max-width: 1280px){
    .app-container{
        min-width: 1200px;
        min-height: 95vh;
        position: relative;
        top:50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    header{
        width: 300vw;
    }
    main{
        width: 200%;
    }
}
@media screen and (max-height: 800px){
    .app-container{
        min-height: 760px;
        position: relative;
        top:75%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
}
/* #endregion MEDIA-QUERY */



