/* #region RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    position: relative;
}
/* #endregion RESET */

/* #region GENERAL */
header{
    height: 20vh;
    background-color: #009688;
}
main{
    height: 80vh;
    background-color: #dbdbd3;
}
.anchor{
    position: relative;
}
.d-flex{
    display: flex;
}
.jst-btwn{
    justify-content: space-between;
}
.jst-cntr{
    justify-content: center;
}
.algn-cntr{
    align-items: center;
}
.app-container{
    background-color: white;
    width: 80vw;
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.col-30{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: greenyellow;
    border-right: 1px solid grey;
}
.col-70{
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
}
i{
    color: #afafb6;
    font-size: 30px;
    margin-right: 30px;
}
/* #endregion GENERAL */

/* #region COL-30 */
.notification{
    height: 15%;
    background-color: yellow;
}
.user-search{
    height: 5%;
    background-color: #fafafa;
    padding: 10px 0;
}
.user-search i{
    font-size: 20px;
    width: 10%;
    text-align: center;
    margin: 0;
}
.user-search .search-bar{
    background-color: white;
    width: 95%;
    height: 100%;
    border: 1px solid #f5f5f5;
}
.search-bar input{
    height: 100%;
    width: 90%;
    border: 1px solid #f5f5f5;
}
.contacts{
    height: 70%;
    background-color: white;
    overflow-y: auto;
}
/* #endregion COL-30 */

/* #region COL-70 */
.active-user,
.text-user-input,
.user{
    height: 10%;
    background-color: #eaeaea;
}
.active-chat{
    height: 80%;
    overflow-y: auto;
}
.col-70 .active-chat{
    background-image: url(/img/mine.jpg);
}
/* #endregion COL-70 */

/* #region USER-CARD */
.user-card{
    height: 100%;
    padding-left: 10px;
}
.user-card img{
    border-radius: 50%;
    height: 85%;
}
.user-info{
    margin-left: 20px;
}
.user-info .access-info {
    margin-top: 10px;
    color: grey;
}
.contacts .user-card{
    max-height: 15%;
    background-color: white;
    padding-left: 20px;
    border-top: 1px solid lightgray;
}
.access-info{
    position: absolute;
    right: 10px;
    top: 0;
}
.contacts .selected{
    background-color: #e9ebeb;
}
/* #endregion USER-CARD */



/* #region MEDIA-QUERY */
@media screen and (max-width: 1200px){
    .app-container{
        min-width: 1000px;
        min-height: 95vh;
    }
    body{
        overflow-y: hidden;
    }
}
/* #endregion MEDIA-QUERY */



